html,body {
  text-align: center;
  background-image: url('background-img.jpg');
  background-size: cover;
  height: 100%;
  color:#f50057;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

